<h3>Devices</h3>
<div class="row">
	<span class="pull-right"><a href="/devices/new"><i class="fa fa-plus-square-o"></i> New Device</a></span>
</div>
<div class="table-responsive">
	<table class="table table-condensed">
   <thead>
    <tr>
     <th>Device</th>
     <th>Type</th>
     <th>Platform</th>
     <th>Status</th>
   </tr>
 </thead>
 <tbody id="data">
   {{range .devices}}
   <tr>
    <td>{{.Name}}</td>
    <td>{{.Type}}</td>
    <td>{{.OS}}</td>
    <td>{{.Status}}</td>
  </tr>
  {{end}}
</tbody>
</table>
</div>

<script>
  var c=new WebSocket("ws://{{.host}}/sock");
  c.onopen = function(){
    c.onclose=function(){
      console.log("websocket connection Closed");
    }
    c.onmessage = function(response){
      var data = JSON.parse(response.data)
      var status= data.Status;
      var device = data.Device;
      if (status=="CREATED"){
              $('#data').append("<tr><td>"+device.name+"</td><td>"+device.type+"</td><td>"+device.os+"</td><td>"+device.Status+"</td></tr>");
      }
    }
  }
</script>