<html>
  <head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <title>Mobile Testing Grid</title>
  </head>
  <body>
  <div class="container">

      <div class="page-header">
        <h1><a href="/">Mobile Testing Grid</a></h1>
        <p class="lead">test mobile application in actual devices</p>
      </div>
	    {{ yield }}
    </div> <!-- /container -->

  </body>
</html>